{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(QuestionForm) }}
        {{form_label(QuestionForm.title)}}
        {{form_widget(QuestionForm.title)}}
        {{form_label(QuestionForm.type)}}
        {{form_widget(QuestionForm.type)}}
        {{form_label(QuestionForm.answer)}}
        {{form_widget(QuestionForm.answer)}}
        <a href="#" id="add_question_answer" class="btn btn-default">Ajouter une autre réponse</a>
    {{ form_end(QuestionForm) }}
    
<a class="btn btn-primary" href="{{ path('admin_questionnaire') }}">Terminer</a>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset("Javascript/AnswerForm.js") }}"></script>
{% endblock %}