{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(QuestionnaireForm) }}
    {{ form_end(QuestionnaireForm) }}
    <ul>
        {% for Question in Questionnaire.questions %}
            <li>
                <span> {{Question.title}}</span>
                <a class="btn btn-primary" href="{{ path('admin_question_edit',{'idQuestion': Question.id}) }}">Modifier</a>
                <a class="btn btn-primary" href="{{ path('admin_question_delete',{'idQuestion': Question.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}