@fond: #EFECCA;
@fond2:#A7A37E;
@font-color: #046380;
@title-color:#002F2F;
@other-color: #E6E2AF;
body{
    background-color:@fond;
    text-align: center;
    article{
        background-color:@fond2;
        h1, h2{
            color:@title-color;
        }
        p{
            color:@font-color;
        }
    }
    table{
        text-align:center;
        background-color:@fond2;
        border: 1px solid black;
        th{
            font-weight: bold;
        }
    }
}