{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{Questionnaire.name}}</h1>
    <div> 
        <span>{{Questionnaire.description}} </span>
        <a href="{{ path('questionnairetopdf',{'idQuestionnaire' : Questionnaire.id }) }}"> Telecharger pdf</a>
        <a href="{{ path('questionnairetoxml',{'idQuestionnaire' : Questionnaire.id }) }}"> Telecharger xml </a>
        {{ form_start(VoteForm) }} 
        {{ form_end(VoteForm) }} 
    </div>
    
    {% for Question in Questionnaire.questions %}
        {% if Question.type== 'multiple' %}
            {% include 'question/multiple_choice.html.twig' with {'Question': Question} %}
        {% endif %}
        {% if Question.type== 'unique' %}
            {% include 'question/single_choice.html.twig' with {'Question': Question} %}
        {% endif %}
        {% if Question.type== 'numeric' %}
            {% include 'question/numeric_choice.html.twig' with {'Question': Question} %}
        {% endif %}
        {% if Question.type=='ordonancee' %}
            {% include 'question/ordered_choice.html.twig' with {'Question': Question} %}
        {% endif %}
    {% endfor %}
{% endblock %}
