{% extends 'base.html.twig' %}

{% block body %}
    <header>
        {{ form_start(SearchForm) }} 
        {{ form_end(SearchForm) }} 
    </header>
    <nav>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col">
                    <h1>Thèmes</h1>
                </div>
            </div>
            {% for Theme in Themes %}
                <div class= "row">
                    <div class="col">
                        <a id="Theme_{{Theme.name}}">{{Theme.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <h1>Questionnaires</h1>
            </div>
        </div>
        {% for Questionnaire in Questionnaires %}
            <article>
                <div class="row">
                    <div class="col-md-auto ">
                        <h2>{{Questionnaire.name}}</h2>
                        <span>{{Questionnaire.NoteMoyenne}} /5</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{Questionnaire.description}}</p>
                    </div>
                    <div class="col">
                        <a href="{{ path('questionnaire',{'idQuestionnaire' : Questionnaire.id }) }}"> Description </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    
    {% if is_granted('ROLE_ADMIN')%}
        <a  href="{{ path('admin') }}" > Panneaux d'administration </a>
    {% endif %}
{% endblock %}