

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PDF{% endblock %}</title>
    </head>
    <body>
        <h1>{{Questionnaire.name}}</h1>
        <div> 
            <span>{{Questionnaire.description}} </span>
        </div>
        {% for Question in Questionnaire.questions %}
            {% if Question.type== 'multiple' %}
                {% include 'question/multiple_choice.html.twig' with {'Question': Question} %}
            {% endif %}
            {% if Question.type== 'unique' %}
                {% include 'question/single_choice.html.twig' with {'Question': Question} %}
            {% endif %}
            {% if Question.type== 'numeric' %}
                {% include 'question/numeric_choice.html.twig' with {'Question': Question} %}
            {% endif %}
            {% if Question.type=='ordonancee' %}
                {% include 'question/ordered_choice.html.twig' with {'Question': Question} %}
            {% endif %}
        {% endfor %}
    </body>    
</html>
