{% extends 'base.html.twig' %}

{% block body %}
    <a  href="{{ path('admin_user') }}" > gestion utilisateur </a></br>
    <a  href="{{ path('admin_questionnaire') }}" > gestion questionnaire </a></br>
    <a  href="{{ path('admin_theme') }}" > gestion theme </a></br>
    <a  href="{{ path('admin_statistique') }}" > Statistique </a>
{% endblock %}
