

{% block body %}

    <body>
        <h1>Question (choix multiple): {{Question.title}}</h1>
        <form action="">
            {%for Answer in Question.Answers %}
                <label>{{Answer.responce}}</label>
                <input type="checkbox" name="réponse" value="{{Answer.responce}}" disabled><br>
            {%endfor%}
        </form>
    </body>
{% endblock %}