

{% block body %}

    <body>
        <h1>Question (choix numeric): {{Question.title}}</h1>
        <form action="">
            {%for Answer in Question.Answers %}
                <label>{{Answer.responce}}</label>
                <input type="number" name="réponse" disabled><h2><br>
            {%endfor%}
        </form>
    </body>
{% endblock %}