

{% block body %}

    <body>
        <h1>Question (choix unique): {{Question.title}}</h1>
        <form action="">
            {%for Answer in Question.Answers %}
                <label>{{Answer.responce}}</label>
                <input type="radio" name="réponse" value="{{Answer.responce}}" ><br>
            {%endfor%}
        </form>
    </body>
{% endblock %}