{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('admin_questionnaire_add') }}">Ajout</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Supression</th>
                <th>Modification</th> 
            </tr>
        </thead>
        <tbody>
            {% for Questionnaire in Questionnaires %}
                <tr>
                    <td>{{Questionnaire.name}}</td>
                    <td><a class="btn btn-primary" href="{{ path('admin_questionnaire_delete', {'idQuestionnaire': Questionnaire.id}) }}">Supprimer</a></td>
                    <td><a class="btn btn-primary" href="{{ path('admin_questionnaire_edit', {'idQuestionnaire': Questionnaire.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
