{% extends 'base.html.twig' %}

{% block body %}
    <span>Nombre d'utilisateur {{Users | length}}</span>
    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Note Moyenne</th>
                <th>Telechargement</th>
            </tr>
        </thead>
        <tbody>
            {% for User in Users %}
                <tr>
                    <td>{{ User.username }}</td>
                    <td>{{ User.email }}</td>
                    <td>{{ User.getNoteMoyenne()}}</td>
                    <td>{{ User.telechargement}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </br>
    <span>Nombre de questionnaire {{Questionnaires | length}}</span>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Theme</th>
                <th>Note Moyenne</th>
                <th>Telechargement</th>
            </tr>
        </thead>
        <tbody>
            {% for Question in Questionnaires %}
                <tr>
                    <td>{{ Question.name }}</td>
                    <td>{{ Question.theme.name }}</td>
                    <td>{{ Question.getNoteMoyenne()}}</td>
                    <td>{{ Question.telechargement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
