{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('admin_theme_add') }}">Ajout</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Supression</th>
                <th>Modification</th> 
            </tr>
        </thead>
        <tbody>
            {% for Theme in Themes %}
                <tr>
                    <td>{{Theme.name}}</td>
                    <td><a class="btn btn-primary" href="{{ path('admin_theme_delete', {'idTheme': Theme.id}) }}">Supprimer</a></td>
                    <td><a class="btn btn-primary" href="{{ path('admin_theme_edit', {'idTheme': Theme.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

