{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('admin_user_add') }}">Ajout</a>
    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Supression</th>
                <th>Modification</th> 
            </tr>
        </thead>
        <tbody>
            {% for User in Users %}
                <tr>
                    <td>{{ User.username }}</td>
                    <td>{{ User.email }}</td>
                    <td><a class="btn btn-primary" href="{{ path('admin_user_delete', {'idUser': User.id}) }}">Supprimer</a></td>
                    <td><a class="btn btn-primary" href="{{ path('admin_user_edit', {'idUser': User.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
